<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Weixuan</title>
	<link rel="icon" href="Images/icon.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>
<body>

	<!-- Header Section -->
	<header>
		<img src="Images/Weixuan_Xu.JPG">
		<h1>Weixuan Xu</h1>
	</header>

	<!-- Main Section -->
	<main>

		<!-- AboutMe Section -->
		<br>
		<h2>About Me</h2>
		<p>🙋🏻‍♀️Hi, I am Weixuan Xu.</p>
		<p>🏫A student of e-BM in Warwick. </p>
		<p>❤️Nice to meet you!</p>

		<!-- Hobbies Section -->
		<h2>Hobbies</h2>
		<p><img src="Images/dancing.jpeg"></p>
		<p>Dancing</p>
		<p><img src="Images/singing.png"></p>
		<p>Singing</p>
		<p><img src="Images/reading.jpeg"></p>
		<p>Reading</p>
		
		<!-- Friends Section -->
		<h2>Friends</h2>
		<h3>(Link to their Github)</h3>
		<a href="https://kirinwang1125.github.io/Kirinspace/" target="_blank">Kirin Wang</a>
		<br>
		<a href="https://www.google.com" target="_blank">Zoey Cheng</a><br>
		<a href="https://www.qq.com" target="_blank">Yue Cai</a><br><br>
	</main>

<!-- Footer section -->
<footer>
	<p>An website to introduce Weixuan Xu to everyone!</p>
</footer>
</body>
</html>